# SSL/TSL сертификаты и ключи
*.key
*.pem
*.crt
*.cer
*.csr
cert.*
private*

# Environment variables
.env
.env.local

# Database
*.sqlite3
*.db

# PyCharm
.idea/

# Virtual environment
venv/
env/
.venv/

# Static files (в production собираются через collectstatic)
staticfiles/

# Media files (пользовательский контент)
media/